---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img class="rounded-full w-12 h-12 mb-4" src="https://avatars.githubusercontent.com/u/65206357?v=4" alt="oscar photo" />

			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey, soy Oscar <a href="https://www.linkedin.com/in/oscar-alejandro-meza-avenda%C3%B1o-b0b771118/" target="_blank" rel="noopener" class="flex items-center"><Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-xl opacity-80">+15 años de experiencia. Desarrollador Web y Creador de Contenido. De Puebla, México. Especialista en crear aplicaciones únicas</h2>
		</section>
	</main>
</Layout>

