---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../components/icons/Github.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout title="Portafolio de Oscar Meza - Desarrollador y Programador Web">
  <main>
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/65206357?v=4"
        alt="oscar photo"
      />

      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Oscar <a
          href="https://www.linkedin.com/in/oscar-alejandro-meza-avenda%C3%B1o-b0b771118/"
          target="_blank"
          rel="noopener"
          class="flex items-center"><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>+15 años de experiencia.</span>
        <span class="text-yellow-200/90"
          >Desarrollador Web y Creador de Contenido.</span
        >
        <span class="text-red-200/90">De Barcelona, España.</span>
        <span class="opacity-75">Especialista en crear aplicaciones únicas</span
        >
      </h2>
      <nav class="flex gap-x-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/oscar-alejandro-meza-avenda%C3%B1o-b0b771118/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/OscarMezaAv29">
          <GithubIcon class="size-6" />
          GitHub
        </SocialPill>
       </nav>
    </SectionContainer>
	<SectionContainer>
		<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
			<Briefcase class="size-7"/>
			Experiencia Laboral
		</h2>
		<Experience />
	</SectionContainer>
  </main>
</Layout>
