---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
    {
      "date": "Enero 2020 - Julio 2023",
      "title": "Software Developer",
      "company": "Tech Innovators Inc.",
      "description": "Desarrollo de aplicaciones web: Lideré el desarrollo de varias aplicaciones web usando Vue.js y Node.js, mejorando la experiencia del usuario y la eficiencia del sistema. Mantenimiento de sistemas: Realicé mantenimiento y optimización de sistemas existentes, reduciendo el tiempo de carga en un 30%. Colaboración en equipo: Trabajé de manera efectiva con otros desarrolladores y departamentos para asegurar la entrega de proyectos a tiempo."
    },
    {
      "date": "Agosto 2017 - Diciembre 2019",
      "title": "Frontend Developer",
      "company": "Creative Solutions Ltd.",
      "description": "Desarrollo de interfaces de usuario: Creé interfaces de usuario atractivas y funcionales usando HTML, CSS y JavaScript. Integración con APIs: Implementé y mantuve integraciones con diversas APIs para mejorar la funcionalidad de las aplicaciones. Optimización de rendimiento: Mejoré el rendimiento de las aplicaciones web mediante la optimización del código y la implementación de mejores prácticas."
    },
    {
      "date": "Junio 2015 - Julio 2017",
      "title": "Junior Developer",
      "company": "Startup Hub",
      "description": "Desarrollo de aplicaciones móviles: Contribuí al desarrollo de aplicaciones móviles usando React Native. Pruebas y depuración: Participé en la realización de pruebas y depuración de aplicaciones para asegurar su calidad. Documentación técnica: Creé y mantuve documentación técnica detallada para nuevos desarrollos y actualizaciones."
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
                <ExperienceItems {...experience}/>
            </li>
        ))
    }
</ol>
