---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
  {
    "date": "Junio 2023 - Diciembre 2024",
    "title": "Desarrollador Web",
    "company": "Abarrotera Hidalgo de Tehuacán",
    "description": [
      "Desarrollo de sistemas web para uso de las diferentes áreas de laempresa, utilizando JavaScript, PHP, consumo de APIs, Bootstrap5, DataTables y GitHub como control de versiones.",
      " Mantenimiento de los sistemas web usados por la empresa, utilizando JavaScript."
    ]
  },
  {
    "date": "Enero 2023 - Abril 2023",
    "title": "Desarrollador Jr (Prácticas profesionales)",
    "company": "GlobalSoftM (Remoto)",
    "description": [
      "Creación de APIs de prueba para la realización de software para la empresa Liverpool utilizando NodeJS. ",
      "Creación de la pantalla de Inicio de Sesión para software de la empresa Liverpool utilizando Angular.",
      " Apoyo en desarrollo de funcionalidades para software de la empresa OXXO utilizando SpringBoot."
    ]
  },
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
                <ExperienceItems {...experience}/>
            </li>
        ))
    }
</ol>
